---
layout: reveal
---
{% include slides/title.html %}
{% include slides/flame_war.html %}
{% include slides/but_seriously.html %}
{% include slides/magic.html %}
{% include slides/tail_call.html %}
{% include slides/tail_call_examples.html %}
{% include slides/tail_recursion.html %}
{% include slides/what_is_tail_call_optimization.html %}
{% include slides/tail_call_optimization.html %}
{% include slides/tco_in_ruby.html %}
{% include slides/why_tco.html %}
{% include slides/why_not_tco.html %}
{% include slides/opportunities.html %}
{% include slides/additional_resources.html %}
{% include slides/about_me.html %}
