<section>
  <section>
    <h2>About Me</h2>
    <div class="columns-2">
      <div class="column">
        <div>
          <img width="25%" class="bg-trans without-borders" src="/assets/images/megacat.png">
          <div>https://github.com/tdg5</div>
        </div>
        <div class="margin-top-3em">
          <img width="20%" class="bg-trans without-borders" src="/assets/images/blog.png">
          <div>http://blog.tdg5.com</div>
        </div>
      </div>
      <div class="column">
        <div>
          <img width="25%" class="bg-trans without-borders" src="/assets/images/twitter.png">
          <div>@dannyguinther</div>
        </div>
        <div class="margin-top-1em"><img class="without-borders" width="80%" src="assets/images/hillary.jpg"></div>
      </div>
    </div>
  </section>
</section>
