<section>
  <section>
    <div class="flames consuming"><img src="assets/images/flame-war-ahead.gif"></div>
  </section>
  <section>
    <div class="flames"><img src="assets/images/flame1.jpg"></div>
  </section>
  <section>
    <div class="flames"><img src="assets/images/flame2.jpg"></div>
  </section>
  <section>
    <div class="flames">
      <h3>But the good news is...</h3>
      <h3 class="fragment">No matter what you think...</h3>
      <h2 class="fragment">You're right!</h2>
    </div>
  </section>
  <section>
    <img src="assets/images/from-a-certain-point-of-view.jpg" height="70%">
  </section>
  <section><img src="assets/images/keep-calm-and-move-along.gif"></section>
</section>
