<section>
  <section>
    <h2>What the hell is a Muggle?</h2>
  </section>
  <section>
    <h3>Muggle</h3>
    <p class="fragment">
      In the fictional world of J. K. Rowling's Harry Potter book series, a
      <strong>muggle</strong> is a person who lacks any sort of magical ability
      and was not born into the magical world.
    </p>
  </section>
  <section><img src="assets/images/why-should-i-care.jpg"></section>
  <section><img src="assets/images/no-magic.jpg"></section>
  <section>
    <h3>But wait...</h3>
    <img class="fragment" src="assets/images/i-love-magic.gif">
  </section>
  <section>
    <img src="assets/images/i-guess-that-works.jpg">
  </section>
  <section>
    <div class="columns-2">
      <div class="column font-size-lg">
        You must decide where the line between knowledge and magic should
        fall.
      </div>
      <div class="column">
        <img src="assets/images/how-to-saw-a-woman-in-half.jpg">
      </div>
    </div>
    <div class="columns-2">
      <div class="column">
        <img class="margin-top-1em" src="assets/images/how-to-saw-a-woman-in-half.png">
      </div>
      <div class="column">
        <img src="assets/images/how-to-saw-a-woman-in-half-in-italian.png">
      </div>
    </div>
  </section>
</section>
