<section>
  <section>
    <h3>Canonical Example</h3>
    <pre><code contenteditable class="ruby" data-trim>
def a_call_in_tail_position!
  other_method
end
    </code></pre>
  </section>
  <section>
    <h3>Canonical Counter-Example</h3>
    <pre><code contenteditable class="ruby" data-trim>
def not_a_call_in_tail_position!
  other_method + 1
end
    </code></pre>

    <div class="fragment">
      <h4>Still no good</h4>
      <pre><code contenteditable class="ruby" data-trim>
def still_not_a_call_in_tail_position!
  1 + other_method
end
      </code></pre>
    </div>
    <div class="fragment">
      Neither of these qualify because there's still additional work (+1) that
      needs to be performed in each method before the method can pass on its
      result after the call to <code>other_method</code> is complete.
    </div>
  </section>
  <section>
    <h3>Other proper tail calls</h3>
    <div class="columns-2">
      <div class="column">
        <pre><code contenteditable class="ruby" data-trim>
def iffy_mid_method_tc
  i = rand(2)
  return some_call if i &gt; 0
  i
end
        </code></pre>
        <pre class="fragment" data-fragment-index="3"><code contenteditable class="ruby" data-trim>
def recursive_count(i = 5)
  puts i
  return if i.zero?
  recursive_count(i - 1)
end
        </code></pre>
      </div>
      <div class="column">
        <pre class="fragment" data-fragment-index="2"><code contenteditable class="ruby" data-trim>
def or_right_hand_side
  false || other_call
end

def and_right_hand_side
  true && other_call
end
        </code></pre>
        <pre class="fragment" data-fragment-index="1"><code contenteditable class="ruby" data-trim>
def arg_expression(my_int)
  other_call(my_int + 1)
end
        </code></pre>
      </div>
    </div>
    <p class="font-size-md fragment" data-fragment-index="4">And more...</p>
  </section>
</section>
