<section>
  <section>
    <h3>On with the tail calls!</h3>
    <img height="80%" class="without-borders bg-trans" src="assets/images/wizard-martin.png">
  </section>
  <section>
    <img src="assets/images/ralph-pin-the-tail.jpg">
    <h3>Mommy, what is a tail call?</h3>
  </section>
  <section>
    <img src="assets/images/normal-call-vs-tail-call.jpg">
    <h2 class="fragment">WRONG</h2>
  </section>
  <section>
    <div class="margin-auto width-three-quarter font-size-lg">
      <div class="text-align-left"><strong>tail call</strong></div>
      <div class="text-align-left">
        <div class="font-size-md">/ˈtāl ˌkôl/</div>
        <p class="text-align-left font-size-sm">
          <i>noun</i>
          <p class="text-indent-all text-align-left font-size-sm">
            In computer science, a <i>tail call</i> is a subroutine call
            performed as the final action of a procedure.
          </p>
        </p>
      </div>
    </div>
  </section>
  <section>
    <img src="assets/images/examples-are-coming.png">
  </section>
</section>
