<section>
  <section>
    <h2>The secret magic of tail calls</h2>
    <img width="70%" src="assets/images/i-love-magic.gif">
  </section>
  <section>
    <h3>The secret magic of tail calls</h3>
    <p class="margin-top-1em fragment">
      Tail calls are <strong>by definition</strong> the final action of
      a procedure
    </p>
    <p class="fragment">
      which means we can safely assume that after a tail call is made
    </p>
    <p class="fragment">
      <strong>nothing</strong> in the calling method is needed anymore.
    </p>
  </section>
  <section>
    <p>
      If nothing from the calling method is needed after the tail call,<br>why keep
      it around?
    </p>
    <blockquote class="fragment margin-top-3em">
      While we may prefer to think of a procedure call as meaning "go do this
      other module and come back", this is only one possble interpretation. We
      must recognize that there are situations where coming back doesn't matter
      and these situations may be exploited.
      <div class="margin-top-1em blockquote-unbound">
        - Guy L. Steele Jr.
      </div>
    </blockquote>
  </section>
  <section>
    <p>
      Maintaining a reference to the parent stack frame serves two main functions:
    </p>
    <div class="columns-2 margin-top-1em">
      <div class="column fragment">
        <div class="margin-top-1em">
          <img width="80%" src="/assets/images/stacktrace.jpg">
        </div>
        <div>
          Keep a record of the path that YARV took through your program
        </div>
        <div>(i.e. <code>puts caller</code>)</div>
      </div>
      <div class="column fragment">
        <div><img width="80%" src="/assets/images/stackchain.jpg"></div>
        Keep a record of where the result of each method call needs to go
      </div>
    </div>
  </section>
  <section>
    <div class="flames font-size-lg">
      <p>
        Keeping a record of the execution stack is nice,<br>but it's really just
        a convenience.
      </p>
    </div>
  </section>
  <section>
    <h3>
      Let's pretend we don't care about the complete call stack
    </h3>
    <p class="fragment margin-top-3em">
      Is there anyway to avoid keeping the parent stack frame around for the
      purposes of knowing where to return the result of the tail call?
    </p>
  </section>
  <section>
    <strong>As it turns out, no.</strong>
    <div class="fragment">
      <h1>Thanks for coming!</h1>
      <h2>Enjoy the rest of RubyConf</h2>
    </div>
  </section>
  <section><img src="/assets/images/siriusly.gif"></section>
  <section>
    <div class="columns-2">
      <div class="column">
        <img width="80%" src="/assets/images/stackbuddies.jpg">
      </div>
      <div class="column fragment" data-fragment-index="1">
        <img width="80%" src="/assets/images/stackskip.jpg">
      </div>
    </div>
    <p>
      If the stack frame of the tail call needs to know to return its result to
      its parent anyway<span class="fragment" data-fragment-index="1">, why not
      just circumvent the parent entirely and return the result of the tail call
      to the parent of the parent?</span>
    </p>
  </section>
  <section>
    <h1>Boom</h1>
    <img src="/assets/images/boom.gif">
    <p>This is the magic of tail call elimination.</p>
    <div>
    <span class="fragment font-size-xl">Questions?</span>&nbsp;
    <span class="fragment font-size-xl">Tylenol?</span>
  </section>
  <section>
    <h3>But why stop there?</h3>
    <p class="fragment">
      If you're going to circumvent the parent entirely, why go through the
      effort of creating a new stack frame for the tail call only to immediately
      discard the stack frame of the parent?
    </p>
    <p class="fragment">
      In practice, tail call elimination is more a kin to tail call
      avoidance. There is no "extra" stack frame that is eliminated, rather the
      stack frame of the parent is recycled and reused to execute the tail call.
    </p>
  </section>
  <section>
    <div class="columns-2">
      <div class="column">
        <div>Without Tail Call Optimization</div>
        <img src="/assets/images/stackcount.gif">
      </div>
      <div class="column">
        <div>With Tail Call Optimization</div>
        <img src="/assets/images/stackcount-tco.gif">
      </div>
    </div>
  </section>
</section>
