<section>
  <section>
  <h2>First, some terminology</h2>
  </section>
  <section>
    <h3>Muggle</h3>
    <p class="fragment">A well mannered, minimally invasive mugging</p>
  </section>
  <section>
    <h3>Tail call</h3>
    <p class="fragment">There's probably a booty call joke here</p>
  </section>
  <section>
    <h3>Tail call elimination/optimization</h3>
    <p class="fragment">Systematic elimination of one's prior dating history</p>
  </section>
  <section>
    <h3>Call stack</h3>
    <p class="fragment">Queue of unreturned phone calls</p>
  </section>
  <section>
    <h3>Recursion</h3>
    <p class="fragment">(N &#62; 1)-night stand</p>
    <p class="fragment">See recursion</p>
  </section>
  <section>
    <h3>Tail recursion</h3>
    <p class="fragment">See recurison</p>
  </section>
</section>
