<section>
  <section>
    <h2>
      A Muggle's Guide to<br>
      Tail-Call Optimization<br>
      in Ruby
    </h2>
    <p>A magic-free tour of tail-call optimization in MRI Ruby</p>
  </section>
  <section><h1>Or...</h1></section>
  <section>
    <div class="hpwe"></div>
  </section>
  <section><h1>Or...</h1></section>
  <section>
    <div class="hpsse"></div>
  </section>
  <section><h1>Or...</h1></section>
  <section>
    <h3>Functional Loop Pessimization:</h3>
    <h4>Tail recursion is its own reward</h4>
    <img
      alt="xkcd: functional"
      src="/assets/images/xkcd-functional.png"
      title="Functional programming combines the flexibility and power of abstract mathematics with the intuitive clarity of abstract mathematics."
    >
    <blockquote class="font-size-sm">
      Functional programming combines the flexibility and power of abstract
      mathematics with the intuitive clarity of abstract mathematics.
    </blockquote>
  </section>
</section>
