<section>
  <section>
    <h2>What is tail call optimization?</h2>
    <img src="assets/images/what-is-the-function-of-a-rubber-duck.jpg">
    <p>
      And while we're at it, what is tail call elimination?
    </p>
  </section>
  <section>
    <div class="columns-3">
      <div class="column">
        <h3>Tail call optimization</h3>
      </div>
      <div class="column">
        <h3>vs.</h3>
      </div>
      <div class="column">
        <h3>Tail call elimination</h3>
      </div>
    </div>
    <div class="fragment">
      <img
        class="without-borders"
        src="assets/images/pizza-kind-of-the-same-thing.png"
      >
      <h2>Kind of the same thing</h2>
    </div>
  </section>
  <section>
    <h2>Tail call elimination</h2>
    <div class="fragment">
      <p>Not some kind of tail call destroying Terminator</p>
      <img width="60%" class="without-borders" src="assets/images/hp-terminator.jpg">
      <br>(I wish)
    </div>
  </section>
  <section>
    <h2>Tail call elimination</h2>
    <img width="60%" class="without-borders" src="assets/images/elimination-is-optimization.jpg">
  </section>
</section>
