<section>
  <section>
    <h1>Why Tail-Call optimization?<h1>
  </section>
  <section>
    <p>Ruby is a multi-paradigm language</p>
    <p class="fragment">What?</p>
  </section>
  <section>
    <p>TCO enables a wider ranger of functional solutions</p>
    <p>Tail Recursion</p>
    <ul>
      <li>Trees!</li>
      <li>More trees!</li>
      <li>Graphs</li>
      <li>Lists</li>
    </ul>
  </section>
  <section>
    <p>Enables better abstractions in object-oriented contexts</p>
  </section>
  <section>
    <p>Performance improvements?</p>
    {% gist 6f316e3bdbb82deaf180 %}
  </section>
  <section>
    <h2>Language Crossover</h2>
    <p>ES6 includes tail-recursion</p>
  </section>
</section>
