<section>
  <section>
    <h3>Benefits of tail call optimization in Ruby</h3>
  </section>
  <section>
    <p>Ruby is a multi-paradigm language</p>
    <p class="fragment">What?</p>
    <p class="fragment">
      Ruby is a language that borrows the best ideas from many different kinds
      of languages to bring you the awesomeness that is
    </p>
    <h1 class="fragment">Ruby</h1>
  </section>
  <section>
    <h3>Multifaceted Ruby</h3>
    <ul>
      <li class="fragment">
        Tail call optimization enables a wider ranger of functional solutions by
        better enabling recursive solutions, including tail recursion.
      </li>
      <li class="fragment">
        Tail call optimization also benefits strong object oriented designs by
        enabling better abstractions.
      </li>
      <li class="fragment">
        Tail call optimization also benefits general performance by more
        efficiently reusing stack frames and enabling earlier garbage collection
        of objects in earlier stack frames.
      </li>
    </ul>
  </section>
  <section>
    <h3>Language Crossover</h3>
    <p>ECMAScript 6 brings tail call optimization to JavaScript</p>
  </section>
</section>
