<section>
  <section>
    <h2>Why Not Tail Call Optimization?</h2>
  </section>
  <section>
    <ul>
      <li>
        Stack frames ending with tail calls are eliminated from the stack.
        <ul><li class="fragment">Makes debugging harder</li></ul>
      </li>
      <li class="fragment">
        The little known, sometimes used <code>set_trace_func</code> isn't
        supported when tail call optimization is enabled
      </li>
      <li class="fragment">As currently implemented, can be cumbersome to use</li>
      <li class="fragment">Relatively unused/untested despite availability</li>
      <li class="fragment">
        Still some weirdness in what constitutes a tail call
      </li>
    </ul>
  </section>
</section>
