.reveal .hpwe {
  background-image: url(/assets/images/hpwe.jpg);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  height: 700px;
}

.reveal .hpsse {
  background-image: url(/assets/images/hpsse.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
}

.reveal .flames:after {
  /* Without the -1px margin, a grey line appears. wtf? */
  background: #000 url(/assets/images/flames.gif) center -1px repeat-x;
  content: "";
  display: block;
  height: 200px;
}

.reveal .flames:before {
  background: #000 url(/assets/images/flames-flip.gif) center top repeat-x;
  content: "";
  display: block;
  height: 200px;
}

.reveal .flames {
  background-color: #000;
  margin: 0 auto;
}

.reveal .flames.consuming:after {
  margin-top: -125px;
}

.reveal .flames.consuming:before {
  margin-bottom: -125px;
}

.reveal .blockquote-unbound {
  width: initial;
}

.reveal .code-unbound {
  max-height: 550px;
}

.reveal .columns-2 .column {
  float: left;
  width: 50%;
}

.reveal .columns-2.columns-40-60 .column {
  float: left;
  width: 40%;
}
.reveal .columns-2.columns-40-60 .column:last-child {
  width: 60%;
}

.reveal .columns-3 .column {
  float: left;
  width: 10%;
}

.reveal .columns-3 .column:first-child,
.reveal .columns-3 .column:last-child {
  width: 45%;
}

.reveal .bg-trans {
  background-color: transparent;
}

.reveal .clearfix:after,
.reveal .columns-2:after,
.reveal .columns-3:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.reveal .font-size-lg {
  font-size: 125%;
}

.reveal .font-size-md {
  font-size: 80%;
}

.reveal .font-size-sm {
  font-size: 60%;
}

.reveal .margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.reveal .margin-bottom-minus-fifteen-percent {
  margin-bottom: -15%;
}

.reveal .margin-top-1em {
  margin-top: 1em;
}

.reveal .overflow-hidden {
  overflow: hidden;
}

.reveal .text-align-left {
  text-align: left;
}

.reveal .text-indent-all {
  padding-left: 1em;
}

.reveal .width-three-quarter {
  width: 75%;
}

.reveal .without-borders {
  border: 0;
  box-shadow: none;
}
