.reveal .hpwe {
  background-image: url(/assets/images/hpwe.jpg);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  height: 700px;
}

.reveal .hpsse {
  background-image: url(/assets/images/hpsse.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
}

.reveal .flames:after {
  /* Without the -1px margin, a grey line appears. wtf? */
  background: #000 url(/assets/images/flames.gif) center -1px repeat-x;
  content: "";
  display: block;
  height: 200px;
}

.reveal .flames:before {
  background: #000 url(/assets/images/flames-flip.gif) center top repeat-x;
  content: "";
  display: block;
  height: 200px;
}

.reveal .flames {
  background-color: #000;
  margin: 0 auto;
}

.reveal .flames.consuming:after {
  margin-top: -125px;
}

.reveal .flames.consuming:before {
  margin-bottom: -125px;
}

.reveal .columns-2 .column {
  float: left;
  width: 50%;
}

.reveal .clearfix:after,
.reveal .columns-2:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.reveal .font-size-l {
  font-size: 125%;
}

.reveal .margin-top-1em {
  margin-top: 1em;
}
